@charset "utf-8";

/* Body */
body {
	margin: 0 auto;
  padding: 12;
	width: 100%;
	max-width: 1100px;
	min-width: 800px;
  color:rgb(68, 68, 68);
  background-color: rgb(221, 221, 221);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

footer{
  padding: 50px 20px 20px 20px;
}

p{
  padding-left: 20px;
}

h1,h2,h3{
  padding-top: 50px;
  padding-left: 10px;
}

/* background */
html{
    background-image: url(background-wall.jpg);
    background-size: cover;
 }

 
/* Navigation Styles */	
 nav{
    font-size: 1.5em;

 }

 nav > ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    background-color: #333;
    position: fixed;
    top: 0;
  }
 
  nav > ul > li {
    float:left;
  }
  
  nav > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav > ul > li > a:hover {
    background-color: #111;
  }

  /*projects.html*/

  /*index.html*/


